# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Manually added
/test dll/build
/tools/vc++filt/build
/tools/dumpbin/out.txt
/tools/create stubs/out.txt
/tools/create stubs/testDLL*
/tools/create stubs/omsdt57*
